#container {
  background-color: #18191a;
  overflow-x: hidden;
}

.listingTypeHolder {
  background-color: rgba(36, 37, 38, 0.7);
  cursor: pointer;
  transition: 0.3s ease-in;
  border-radius: 5px;
}

.listingTypeHolder:hover {
  transform: scale(0.95);
  background-color: rgba(36, 37, 38, 1);
}

.listingTypeHolder div {
  min-width: 550px;
}

h4 , h5 , p {
  color: white;
}

#cancelIconHolder {
  width: 50px;
  height: 50px;
  left: 1rem;
  top: 1rem;
  z-index: 1;
}

#cancelIconHolder > img {
  width: 30px;
  height: 30px;
}
