#app-header {
  background-color: #343536;
  height: 60px;
  border-bottom: 1px solid grey;
}

h3 {
  letter-spacing: 4px;
}

#down-arrow-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: black;
  bottom: -3px;
  right: 0;
}
