<div class="container-fluid d-flex justify-content-between align-items-center" id="app-header">
    <h3 class="text-white">You Market</h3>
    <div class="d-flex">
        <div class="p-2 iconHolder">
            <img src="assets/svg/icons/message.svg" alt="Message Icon">
        </div>
        <div class="p-2 iconHolder mx-3">
          <img src="assets/svg/icons/bell.svg" alt="Bell Notification Icon">
        </div>
        <div class="p-2 iconHolder position-relative">
          <img src="assets/svg/icons/user.svg" alt="Default User Icon">
          <div class="position-absolute" id="down-arrow-holder">
            <img class="w-50" src="assets/svg/icons/angle-down.svg" alt="Down Arrow To Open User Profile">
          </div>
        </div>
    </div>
</div>
