.iconHolder {
  width: 42px;
  height: 42px;
}
img[alt="Mobile Icon"] {
  width: 20px;
  height: 20px;
}

a{
  display: block;
  cursor: pointer;
  margin: 7px 0;
}

a > div {
  height: 55px;
  border-radius: 5px;
}

a > div:hover {
  background-color: rgb(96, 92, 92);
}
