*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #5b5959;
}

::-webkit-scrollbar-thumb {
  background: rgba(128, 128, 128, 0.71);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(50, 190, 143, 0.5);
}

.iconHolder {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(96, 92, 92 , 0.7);
  border-radius: 50%;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.iconHolder:hover {
  background-color: rgb(96, 92, 92);
}
