<app-header></app-header>
<div class="row g-0">
  <div class="col-12 col-lg-3 py-2" id="inputsSection">
    <div class="ps-2">
      <h6>Market Store</h6>
      <h4 class="fw-bolder">Item For Sale</h4>
    </div>
    <form [formGroup]="itemForm" class="p-2 overflow-scroll customSrollBar" #ItemListingForm id="inputsHolder">
      <p class="fst-italic" style="color: #d9d9d9">Photos * 0/10 - You can add  up to 10 photos .</p>
      <label class="d-block d-flex justify-content-center align-items-center text-white"
             for="imageFileInput"
             fileDrag
             (fileEventEmitter)="fileDropped($event)">
        <div class="d-flex flex-column align-items-center">
            <img src="assets/svg/icons/upload.svg" alt="Upload File Icon">
            <h4 class="my-1 fw-bolder">Add Photos</h4>
            <h6 style="color: #d9d9d9">or drag and drop</h6>
        </div>
      </label>
      <input class="d-none" type="file"
             accept="image/*"
             multiple id="imageFileInput"
             (change)="onFileSelected($event)">

      <div *ngIf="filesArrayHolder.length != 0" class="mt-3 mb-3 ">
        <mat-grid-list cols="3" rowHeight="1:1">
          <mat-grid-tile *ngFor="let file of filesArrayHolder; let i = index;">
            <span id="x-markHolder" (click)="removeImage(i)">
              <img src="assets/svg/icons/xmark.svg" alt="x-mark Icon">
            </span>
            <img [src]="file.url" width="120" height="120" alt="listing image">
          </mat-grid-tile>
        </mat-grid-list>
      </div>
      <mat-form-field class="material-form-fields mt-3" appearance="outline">
        <mat-label>Title</mat-label>
        <input
          type="text"
          matInput
          formControlName="title"
          maxlength="99"
          >
        <mat-error *ngIf="itemForm.controls['title'].hasError('required')">
          Title is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="itemForm.controls['title'].hasError('maxlength')">
          Maximum length is <strong>99</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="material-form-fields" appearance="outline">
        <mat-label>Price</mat-label>
        <input
          type="text"
          matInput
          formControlName="price"
          oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');"
          maxlength="9">
        <mat-error *ngIf="itemForm.controls['price'].hasError('required')">
          Price is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="mat-selectHolder">
        <mat-label class="fw-bolder">Category</mat-label>
        <mat-select formControlName="category">
          <div *ngFor="let category of categories" class="categorySectionsHolder">
              <span class="p-2 categoryTitle">{{ category.title }}</span>
              <mat-option *ngFor="let property of category.properties" [value]="property.value">
                  {{ property.preview }}
              </mat-option>
          </div>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="mat-selectHolder">
        <mat-label class="fw-bolder">Condition</mat-label>
        <mat-select formControlName="condition">
          <mat-option *ngFor="let condition of listingConditions" [value]="condition.value">
            {{ condition.preview }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="material-form-fields" appearance="outline">
        <mat-label>Brand</mat-label>
        <input
          type="text"
          matInput
          formControlName="brand"
          maxlength="99">
        <mat-error *ngIf="itemForm.controls['brand'].hasError('maxlength')">
          Maximum length is <strong>99</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="material-form-fields" appearance="outline">
        <mat-label>Description</mat-label>
        <textarea class="text-white" matInput  formControlName="description" maxlength="255" style="height: 180px; resize: none;"></textarea>
        <mat-error *ngIf="itemForm.controls['description'].hasError('maxlength')">
          Maximum length is <strong>255</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="material-form-fields" appearance="outline">
        <mat-label>SKU</mat-label>
        <input
          type="text"
          matInput
          formControlName="sku"
          maxlength="99">
        <mat-error *ngIf="itemForm.controls['sku'].hasError('maxlength')">
          Maximum length is <strong>99</strong>
        </mat-error>
      </mat-form-field>

      <h6 class="fw-bolder text-white">Meetup preferences</h6>
      <p>Buyers will be able to see your preferences on your listing. </p>
      <div>
        <div *ngFor="let meetupPreference of meetupPreferences" class="d-flex justify-content-between align-items-center mb-2">
          <div class="d-flex align-items-center">
            <img class="meetupIcons" src="assets/svg/icons/{{ meetupPreference.iconName }}.svg" alt="{{ meetupPreference.alt }}">
            <div class="d-inline-block ms-3">
              <span class="text-white fw-bolder">{{ meetupPreference.title }}</span>
              <small class="d-block text-white" style="color: grey;">{{ meetupPreference.resume }}</small>
            </div>
          </div>
          <input type="checkbox" formControlName="{{ meetupPreference.formControlName }}">
        </div>
      </div>
    </form>
      <button (click)="onSubmit()" type="submit">Create Item</button>
  </div>
  <div class="col-12 col-lg-9 d-flex justify-content-center align-items-center" id="itemPreviewSection">
    <div class="d-flex flex-column p-3">
      <h6 class="text-white">Preview</h6>
      <div class="d-flex flex-row h-100" id="twoSectionsHolder">
          <div class="d-flex flex-column justify-content-center align-items-center text-center h-100 position-relative" id="ImagePreviewHolder">
            <div *ngIf="!filesArrayHolder.length">
              <h4>Your Listing Preview</h4>
              <p class="text-white">As you create your listing, you can<br>preview how it will appear to others<br>on Marketplace</p>
            </div>
            <div *ngIf="filesArrayHolder.length"
                 id="imagePreviewBack"
                 style="background-image: {{ getBackgroundImageStyle() }}"
                 class="w-100 h-100">
            </div>
            <div *ngIf="filesArrayHolder.length" class="w-100 position-absolute" id="ImagePreviewFront" style="background-image: {{ getBackgroundImageStyle() }}">
              <span *ngIf="filesArrayHolder.length > 1" class="arrows-holder" (click)="incrementOrDecrementFilesArrayIndex(false)">
                      <img src="assets/svg/icons/arrow-left.svg" alt="Left Arrow">
              </span>
              <span *ngIf="filesArrayHolder.length > 1" class="arrows-holder" (click)="incrementOrDecrementFilesArrayIndex(true)">
                      <img src="assets/svg/icons/arrow-right.svg" alt="Right Arrow">
              </span>
            </div>
          </div>
          <div class="p-2 h-100 customSrollBar" id="listingPropertiesPreviewHolder">
              <span class="d-block text-white fw-bolder text-break" id="listingTitle">
                {{(itemForm.get('title')?.value) ? itemForm.get('title')?.value : 'Title'}}
              </span>
            <span class="d-block text-white fw-bold">
                {{(itemForm.get('price')?.value) ? itemForm.get('price')?.value + ' $' : 'Price'}}
              </span>
              <small class="text-white">Listed a few seconds ago in Marrakech</small>
              <h5 class="mt-3 text-white">Details</h5>
              <small class="mt-2 text-white text-break">
                {{(itemForm.get('description')?.value) ? itemForm.get('description')?.value : 'Description will appear here'}}
              </small>
            <div class="mt-4">
              <iframe title="Navigate To Address" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d108703.12115612609!2d-8.077893478221712!3d31.634602332588734!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xdafee8d96179e51%3A0x5950b6534f87adb8!2sMarrakesh!5e0!3m2!1sen!2sma!4v1680725860697!5m2!1sen!2sma" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="mt-3 pt-2" id="sellerInfoSection">
                <div class="d-flex justify-content-between">
                    <h6 class="fw-bolder text-white">Seller information</h6>
                    <small class="text-secondary fw-bold">Seller details</small>
                </div>
                <div>

                </div>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>
