* {
  overflow: hidden;
}

#inputsSection {
  background-color: #343536;
}

#inputsSection {
  border-right: 1px solid grey;
  height: 91.1vh;
}

#inputsSection h6 , #inputsHolder p {
  color: #d9d9d9;
}

#inputsSection h6{
  margin-bottom: 1px;
}

#itemPreviewSection {
  background-color: rgba(0, 0, 0, 0.82);
  height: 91.1vh;
}

h4 , ::ng-deep .mat-select-value , .material-form-fields input::placeholder ,
input , mat-label , mat-select{
  color: white;
}

#inputsHolder {
  border-top: 1px solid grey;
  height: 82%;
}

.customSrollBar::-webkit-scrollbar {
  width: 8px;
}

.customSrollBar::-webkit-scrollbar-track {
  background: transparent;
}

.customSrollBar::-webkit-scrollbar-thumb {
  background: rgba(128, 128, 128, 0.71);
  border-radius: 35px;
}

.customSrollBar::-webkit-scrollbar-thumb:hover {
  background: grey;
}

label[for="imageFileInput"] {
  height: 180px;
  cursor: pointer;
  border-radius: 3px;
}

img[alt="Upload File Icon"] {
  width: 10%;
  height: 10%;
}

.material-form-fields {
  width: 100%;
}

.material-form-fields mat-label {
  font-weight: bolder;
}

::ng-deep .mat-form-field .mat-form-field-outline {
  color: grey;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-outline , ::ng-deep .mat-select-arrow {
  color: #32be8f;
}

.mat-selectHolder {
  width: 100%;
  outline-color: grey !important;
}

mat-select {
  font-size: 15px;
}

mat-option , mat-option:hover{
  color: white !important;
  background-color: #343536 !important;
}

mat-option:hover {
  background-color: rgba(52, 53, 54, 0.86) !important;
}

.categoryTitle {
  display: block;
  color: white;
  font-size: 18px;
  font-weight: bolder;
  background-color: #343536;
}

.meetupIcons {
  width: 30px;
  height: 30px;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

button[type="submit"]{
  width: 100%;
  height: 60px;
  background: rgb(50,190,143);
  background: linear-gradient(90deg, rgba(50,190,143,1) 7%, rgba(15,145,101,1) 100%);  color: white;
  font-weight: bolder;
  letter-spacing: 2px;
  border-radius: 7px;
  transition: 0.5s ease-in-out;
}

button[type="submit"]:hover{
  transform: scale(0.93);
}

#sellerInfoSection {
  border-top: 2px solid grey;
}

#itemPreviewSection > div {
  background-color: #343536;
  height: 90%;
  width: 80%;
  border-radius: 10px;
}

#ImagePreviewHolder {
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  width: 65%;
  background-color: #444546;
}

#listingPropertiesPreviewHolder {
  width: 35%;
  border: 1px solid #494848;
  border-left: none;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  overflow-y: scroll;
  overflow-x: hidden;
}

iframe {
  width: 100%;
  border-radius: 15px;
}

#listingTitle {
  font-size: 1.5rem;
}

#x-markHolder {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #555555;
  cursor: pointer;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  z-index: 2;
}
#x-markHolder > img {
  width: 80%;
  height: 80%;
}

@media only screen and (max-width: 1200px){
  #inputsHolder {
    overflow: auto;
  }
  ::-webkit-scrollbar {
    display: none;
  }
  #ImagePreviewHolder , #listingPropertiesPreviewHolder{
    width: 100%;
  }
}

@media only screen and (max-width: 992px){
  #twoSectionsHolder {
    flex-direction: column !important;
    height: 1350px !important;
  }
  #itemPreviewSection > div {
    width: 100%;
  }

  #ImagePreviewHolder , #listingPropertiesPreviewHolder{
    width: 100% ;
  }

  #itemPreviewSection {
    height: auto;
  }
}

